<% if(session.userName==="Adam" ) {%>
    <script type="text/javascript" src="/javascripts/admin/userManagerStart.js"></script>
    <link rel="stylesheet" href="/stylesheets/tableSort/jquery.dataTables.css">
    <% } %>
        <div id="userTabs">
            <ul>
                <li>
                    <a href="#listUser">List users</a>
                </li>
                <li>
                    <a href="#addUser">Add user</a>
                </li>
            </ul>
            <div id="listUser">
                <table id="userList">
                    <thead>
                        <tr>
                            <th>User name</th>
                            <th>Created at</th>
                            <th>Password</th>
                            <th>edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% myParams.users.forEach(function(user) { %>
                            <tr>
                                <td>
                                    <%=user.userName %>
                                </td>
                                <td>
                                    <%=user.created_at %>
                                </td>
                                <td>
                                    <%=user.pass%>
                                </td>
                                <td>
                                    <button class="edit" value="<%= user._id %>">Edytuj</button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <div id="addUser">
                <%- partial( 'register') %>
            </div>
        </div>