<!DOCTYPE html>
<html lang="pl">

    <head>
         <%- partial('headers') %>
    </head>
    <body>
        <header><%= myParams.title %>
        <img src="/images/notPass.png" alt="logo" width="150" height="150"/>
        
        
        </header>
        <section id="content">
            <article id="leftMenu">
				  <%- partial('zegarek') %>
				  <section id="loginStatus">
				  <%- partial('loginForm') %>
				  </section>
							
			</article>
            <section id="question">
                <%- partial('quizForm') %>
            </section>
        </section>
        <footer>
			 <%- partial('footer') %>
        </footer>
    </body>

</html>
