<!DOCTYPE html>
<html lang="pl">
    
    <head>
        <%- partial('headers') %>
    </head>
    
    <body>
        <header style="text-align:right">
          <img src="/images/notPass.png" alt="logo"  height="150" style="float:left; " />
           <img style="float: left; margin-left: 100px; " src="http://fontmeme.com/create.php?text=<%=myParams.title %>&name=RINGM___.ttf&size=50&style_color=DBA123" alt="The Lord of the Rings Font" title="Logo" />
         <img src="/images/notPassLogo.jpg" alt="logo"  height="150" style="margin-right:0px;"/>
         <br>
        </header>
        <section id="content">
            <article id="leftMenu">
                <%- partial('zegarek') %>
                    <section id="loginStatus">
                        <%- partial('loginForm') %>
                    </section>
            </article>
            <section id="question">
            	<section id="quiz" >
            	<% if( myParams.displayQuestion ===true ) {%>
                <%- partial('quizForm') %>
                <% }else{ %>
               		<img src='images/playGame.jpg' width='300' height='205' alt='Play game'/><br />
               		<%=myParams.welcomeText %>
               <% } %>
               </section>
            </section>
        </section>
        <footer>
            <%- partial('footer') %>
        </footer>
    </body>
</html>