<section id="quiz" >
    <p><%= myParams.longLoremIpsum %></p>
    <ul id="answerBlock">
        <li id="answerA" class="answer">
            <input type="radio" name="answer" value="A" class="radioAnswer">
            <h1 class="answerH1">A</h1>
            <span class="answerSpan"><%= myParams.shortLoremIpsum %></span>
        </li>
        <li id="answerB" class="answer">
            <input type="radio" name="answer" value="B" class="radioAnswer">
            <h1 class="answerH1">B</h1>
            <span class="answerSpan"><%= myParams.shortLoremIpsum %></span>
        </li>
        <li id="answerC" class="answer">
            <input type="radio" name="answer" value="C" class="radioAnswer">
            <h1 class="answerH1">C</h1>
            <span class="answerSpan"><%= myParams.longLoremIpsum %></span>
        </li>
        <li id="answerD" class="answer">
            <input type="radio" name="answer" value="D" class="radioAnswer">
            <h1 class="answerH1">D</h1>
            <span class="answerSpan"><%= myParams.shortLoremIpsum %></span>
        </li>
    </ul>
  	<button id="giveAnswer" >Wyślij</button>
</section>
