header #{title}
section#content
	article#leftMenu
		section#zegarek.zegarek
			b Obecny czas:
			em.currentTime   
			br
			b Czas zakończenia: 
			em.endTime  
			br
			b  Pozostały czas: 
			em.days 
			b : 
			em.hours 
			b : 
			em.min 
			b : 
			em.sec
			form#login(method='post')
				b Login:
				input(type='text', name='userName')
				br
				b Haslo:
				input(type='password', name='pass')
				input(type='submit', name='login', value='Wyslij)
	section#question
		form#quiz(method='post')
			p #{longLoremIpsum}
			ul#answerBlock
				li#answerA.answer
					input(type='radio', name='answer', value='A', class='radioAnswer')
					h1.answerH1 A
					span.answerSpan #{shortLoremIpsum}
				li#answerB.answer
					input(type='radio', name='answer', value='B', class='radioAnswer')
					h1.answerH1 B
					span.answerSpan #{shortLoremIpsum}
				li#answerC.answer
					input(type='radio', name='answer', value='C', class='radioAnswer')
					h1.answerH1 C
					span.answerSpan #{longLoremIpsum}
				li#answerD.answer
					input(type='radio', name='answer', value='D', class='radioAnswer')
					h1.answerH1 D
					span.answerSpan #{shortLoremIpsum}		
			input(type='submit', name='question', value='Wyślij')
footer Stopka
		br
		section#debug
			p#1 
			p#2
			p#3
			if (typeof answer === "undefined")
				p#4 
			else 
				p#4 #{answer} 
			p#5
